.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: azure;
    padding: 10px;
}

.grid-item {
    background-color: azure;
    border: 1px solid;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}
header {
    text-align: center;
}